.search-bar {
  width: 400px;
  height: 45px;
  border-radius: 5px;
  padding: 5px 10px;
}

.box {
  height: 150px;
  background-color: white;
  border-radius: 12px;
  i {
    color: black;
    // margin-top: 25px;
    font-size: 30px;
    margin-top: 50px;
  }
  p {
    color: black;
    text-align: center;
    // margin-bottom: 10px;
    font-size: 14px;
    height: 65px;
    margin-top: 5px;
  }
}

.border {
  color: #e0e0e0;
}

.filters {
  display: flex;
height:40px;
align-items: center;
margin-top: 20px;
}

.selecttag {
  margin-right: 20px !important;
}

.taglabel {
  margin-right:8px;
}
