.search-activity-container {
  position: relative;
  margin: 3rem 0;
  margin-top: 1rem;

  .searchbar {
    position: relative;
    height: 45px;
  }
}

.search-activity {
  background-color: white;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  padding: 5px 10px 5px 40px;

  .fa-magnifying-glass {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    }
}

.search-activity-btn {
  color: white;
  background: #605DEC;
  text-decoration: none;
  position: absolute;
  border-radius: 50px;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  border-radius: 50px;
  font-size: 16px;
  line-height: 22px;
  padding: 0px 20px;
  border: 1px solid #885df1;
  transition: background 200ms ease, border-color 200ms ease;
}

.search-btn:hover {
  color:#000;
  background: #B6B2F3;
}


.box {
  height: 150px;
  background-color: white;
  border-radius: 12px;
  i {
    color: black;
    // margin-top: 25px;
    font-size: 30px;
    margin-top: 50px;
  }
  p {
    color: black;
    text-align: center;
    // margin-bottom: 10px;
    font-size: 14px;
    height: 65px;
    margin-top: 5px;
  }
}

.border {
  color: #e0e0e0;
}

.filters {
  display: flex;
  height: 40px;
  align-items: center;
  margin-top: 20px;

  .filter-container {
    border: 1px solid lightgray;
    border-radius: 50px;
    margin-right: 1rem;
    background-color: white;
    overflow: hidden;
  }
}

select {
  border: none;
  border-radius: 50px;
  width: fit-content;

  &:focus-visible {
    border: none;
    outline: none;
  }
}

.taglabel {
  font-weight: bold;
  margin-right: 8px;
  padding: 8px 1rem;
  background-color: var(--bs-border-color-translucent);
}

.selecttag {
  margin-right: 20px !important;
}
