// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
.container {
  max-width:1200px;
}
.flex-row {
  margin-top: 3rem !important;
}
.card {
  border-radius: 10px;
}

.intro {
  // background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.hide {
  background: black;
  overflow: hidden;


 .intro-text {
  color: rgb(227,242,255);
  font-family: 'Heebo', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  }

  span {
    transform: translateY(100%);
    display: inline-block;
  }
}

.text {
  color: rgb(227,242,255);
  font-family: 'Heebo', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  }

.icon-container img {
  // border: 1px solid black;
  transition: transform 300ms;
  transform: scale(1.1);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-wrapper{
  height: 260px;
  overflow: hidden;
}

.icon-container:hover {
  img {
    transform: scale(1);
  }
}

.cat-container {
  transition: .2s;
}

.cat-container:hover {
  transform: scale(1.1);
}

.c-card {
  height: 100px;
  width: 100px;
}

.search-container {
  position: relative;
  margin-top: 1rem;
}

.search-bar {
  background-color: white;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  border-radius: 50px;
  padding: 5px 10px 5px 40px;
}

.fa-magnifying-glass {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-btn {
  color: white;
  background: #97a1ff;
  text-decoration: none;
  position: absolute;
  border-radius: 50px;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  border-radius: 50px;
  font-size: 16px;
  line-height: 22px;
  padding: 0px 20px;
  border: 1px solid #97a1ff;
  transition: background 200ms ease, border-color 200ms ease;
}

.search-btn:hover {
  color:#000;
  background: #97a1ff;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

ul {
  list-style-type: none;
  display: inline;
  text-align: left;
  img {
    width: 100px;
    height: 100%;
  }

  li {
    padding: 5px;
  }

  .text-header {
    font-size: 20px;
  }
}


//carousel

.carousel-control-prev, .carousel-control-next {
  position: relative !important;
  color:black !important;
}

.arrow {
  font-size: 22px;
}


// test
.carousel-activities {
  display: flex;

  & > a {
    margin: 0 .5rem;
    display: inline-block;
    width: 100%;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

body {
  background-color: white;
}

.activity-description p {
  padding-top: -10px;


}
