// Import page-specific CSS files here.
@import "activityindex";
@import "homepage";
@import "reviewnew";
@import "categoriesshow";
@import "activitiesnew";


.filters {
  display: flex;
  height: 40px;
  align-items: center;
  margin-top: 20px;
}

.selecttag {
  margin-right: 20px !important;
}

.taglabel {
  margin-right:8px;
}
