<div style="margin-top: 150px; border-top: 1px solid lightgray">
  <div class="container text-center mt-4 mb-4">
    <div class="row">
      <div class="col" style="font-size: 30px; color: blue;">
        <ul>
          <li><h2 style="margin-bottom: 80%;">KidsTrotter</h2></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li class="text-header"><strong>About</strong></li>
          <li>About KidsTrotter</li>
          <li>Careers</li>
          <li>Forum</li>
        </ul>
      </div>
      <div class="col">
        <ul class="">
          <li class="text-header"><strong>Partner with us</strong></li>
          <li>Partnership programs</li>
          <li>Affiliate program</li>
          <li>Community</li>
          <li>Loyality program</li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li class="text-header"><strong>Support</strong></li>
          <li>Help Center</li>
          <li>Contact us</li>
          <li>Terms of service</li>
          <li>Accessibility</li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li class="text-header"><strong>Get the app</strong></li>
          <li>Mobile site</li>
          <li>KidsTrotter for Android</li>
          <li>KidsTrotter for iOS</li>
          <li><%= image_tag('playstore.png', class: "store-icons") %></li>
          <li><%= image_tag('appstore.png', class: "store-icons") %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%# footer %>
<div style="border-top: 1px solid lightgray">
  <div class="footer container">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      © 2022 KidsTrotter Studios
    </div>
  </div>
</div>
