.badge-pink {
  background-color: rgb(255, 210, 230);
  color: black;
}

.badge-green {
  background-color: aquamarine;
  color: black;
}

.badge-yellow {
  background-color: rgb(255, 255, 120);
  color: black;
}
