.badge-pink {
  background-color: rgb(255, 210, 230);
  color: black;
}

.badge-green {
  background-color: green;
  color: white;
}

.badge-yellow {
  background-color: rgb(214, 214, 73);
  color: black;
}

.badge-orange-plain {
  background-color: orange;
  color: black;
}

.badge-orange {
  background-color: orange;
  color: black;
  font-size: medium;
  font-family: monospace;
  border: 2px solid black;
}

.badge-orange:hover {
  background-color: yellow;
  color: purple;
  font-size: medium;
  font-family: monospace;
  border: 2px solid purple;
}

.badge-orange[title]:hover::after {
  content: attr(title);
  color: #333;
  position: absolute;
  display: flex;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #222;
  background-image: linear-gradient(#eeeeee, #cccccc)
}

.badge-bisque {
  background-color: bisque;
  color: black;
}
