.bookmark-container {
  position: absolute;
  top: 3px;
  right: 5px;
}

.bookmark-img {
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

tbody.bookmark-table > tr {
  background-color: white;
}

.btn-book {

}
