.form-purple-btn {
  background: #605DEC;
  border-radius: 4px;
  border: 1px solid #B6B2F3;
}

.form-purple-btn:hover {
  color: black;
  background: #5f5decb4;
  border-radius: 4px;
  border: 1px solid black;
}

.purple-btn-solid {
  font-size: larger;
  color: white;
  background: #605DEC;
  border-radius: 4px;
}

.purple-btn-solid:hover {
  background: #B6B2F3;
}

.purple-btn-outline {
  font-size: larger;
  border: 1px solid #605DEC;
  border-radius: 4px;
}

.purple-btn-outline:hover {
  border: 1px solid #B6B2F3;
  border-radius: 4px;
  background: #B6B2F3;
}
