.calendar {
  table {
    min-height: 100px;
  }
  .today {
    background-color: #FAF3DD;
  }
}

tbody > tr:nth-child(odd) {
  background-color: #B6B2F3;
}

.booking {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.booking:hover {
  background: #1BCB7F;
  color: white;
}
