.form-purple {
  background: #fff;
  opacity: 1.0;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  border: 1px solid rgb(221, 221, 221);
  color: black;
}

#new_bookmark {
  display: flex;
}
