.image-tag {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.h-card {
  background-color: transparent;
  border: 0;
  margin-right: 8px;
}

.s-card {
  background-color: white;
  margin-top: 15px;
  border: 1px solid black;

}
