.image-tag {
  height: 100%;
  object-fit: cover;
}

.h-card {
  background-color: transparent;
  border: 0;
  margin-right: 8px;
}

.s-card {
  position: relative;
  height: 250px;
  background-color: white;
  margin-top: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  //overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  transition: .2s;

  p {
    padding: 2px;
  }
}

.s-card:hover {
  transform: scale(1.03);
}

.card-price {
  position: absolute;
  bottom: -3px;
  right: -2px;
  background-color: orange;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

.card-add {
  color: black;
  font-size: 15px;
}

.card-age {
  font-size: 12px;
}

.card-rating {
  position: absolute;
  bottom: 0;
}

.button-detail {
  padding: 1px 10px 1px 10px;
  position: absolute;
  bottom: 0;
}
