.img-preview {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-round-corners {
  height: 150px;
  border-radius: 20%;
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}
