.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(180deg, #a498ee 0%, #e484ff 100%);
}

.nav-link {
  color: #fff;
}
.navbar-brand {
  background-color: transparent
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  background-color: transparent;
}
