// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "@fontsource/heebo";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "star-rating.js/dist/star-rating.css";
@import "simple_calendar";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
@import "bootstrap-icons/font/bootstrap-icons";
// @import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

@font-face {
  font-family: "bootstrap-icons";
  src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
    font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/offcanvas";

p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}
