<div class="container">

  <div class="row justify-content-center">
    <div class="col-6">
    </div>
</div>

  <div class="row">
    <div class="col-6">
    </div>
  </div>

  <div class="row">
    <div class="col-6">
    </div>
  </div>

</div>

_______________________________________________________________________________________________________

If iterating through the same card. The card must be in the container, and the iterator must be placed outside the container.

<% @bookings.each do |booking| %>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <% if booking.activity.photo.key.nil? %>
          <%= image_tag(booking.activity.card_image, class: "img-fluid rounded-start image-tag") %>
        <% else %>
          <%= cl_image_tag booking.activitiy.photo.key, class: "img-fluid rounded-start image-tag" %>
        <% end %>
      </div>
      <div class="col-8">

        <div class="card-body">
          <h5 class="card-title"><strong><%= booking.activity.name %></strong></h5>
          <p class="card-text card-add"><%= link_to booking.activity.address, '#' %></p>
          <p class="card-text card-age">Suitable For Ages: <%= booking.activity.age_group %></p>
          <p class="card-text card-add">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>

          <br>

          <%= simple_form_for(booking) do |f| %>
            <%= f.input :status, collection: Booking::STATUSES, label: false%>
          <% end %>
          </div>

        </div>

      </div>
    </div>
  </div>
<% end %>
